.modal-content(id="modal-form" class="mfp-hide white-popup-block my-mfp-slide-bottom")
    .popup-buble
        .popup-dialog
.modal-content(id="modal-form-tnx" class="mfp-hide white-popup-block my-mfp-slide-bottom modal-form-tnx")
    .popup-buble
        .popup-dialog
div(id="back-top", class="up_btn")