header.header
    .container
        .header__wrapper
            .header__logo
                img(src="./img/header__logo.png", alt="")
            .header__menu
                ul 
                    li
                        a(href="#") Home
                    li
                        a(href="#") About us
                    li
                        a(href="#") Services
                    li
                        a(href="#") Clients
                    li
                        a(href="#") Contact
            .header__trans
                a(href="#")
                    img(src="./img/united-states.svg", alt="")
                a(href="#")
                    img(src="./img/iran.svg", alt="")