extends shared/_layout

block vars
  - var title = 'Главная'
  - var bodyClass = ''

block content

  .banner
    .swiper-pagination.banner__pagination
    .swiper-container.banner__slider__container
      .swiper-wrapper.banner__slider__wrapper
        .swiper-slide.banner__slide(style="background-image:url(./img/banner__img1.png)")
          .banner__text
            h1 Brandeme
            p your branding academy
        .swiper-slide.banner__slide(style="background-image:url(./img/banner__img2.png)")
          .banner__text
            h1 Digital Solutions
            p for international clients
        .swiper-slide.banner__slide(style="background-image:url(./img/banner__img1.png)")
          .banner__text
            p for international clients
            h1 Digital Solutions
            
